<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Create</title>
    <script src="/public/js/create/validateFormData.js" defer></script>
  </head>
  <body>
    <%- contentsListHTML %>
    <form id="form" action="/create/process" method="post">
      <p><input id="title" type="text" name="title" placeholder="title" /></p>
      <p><textarea name="description" placeholder="description"></textarea></p>
      <p><input type="submit" value="create" /></p>
      <p><a href="/">Cancel</a></p>
    </form>
  </body>
</html>
