<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/layout.css">
  </head>
  <body>
    <div id="container">
      <%- navbar %>
      <main>
        <%- contentsListHTML %>
        <button type="button" class="btn btn-outline-primary"
          onclick="location.href='/create'">Create</button>
      </main>
    </div>
  </body>
</html>
